

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@* <table class="table table-striped" dir="rtl">
    <thead>
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CurrencyId</td>
                <td>@item.CurrencyName</td>
            </tr>
        }
    </tbody>
</table>
 *@