@model Category

<div class="row d-flex justify-content-center align-items-center">
   <div class="col-lg-7 col-md-9 col-sm-11">

        <h3>تعديل فئة </h3>
        <form method="post" asp-action="Edit">

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <input type="text" class="form-control" asp-for="CategoryId" readonly />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryName" class="form-label"></label>
                <input type="text" class="form-control" asp-for="CategoryName" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div>
                <button class="btn btn-primary">حفظ</button>
                <a class="btn btn-outline-info" asp-action="Index">الغاء</a>
            </div>
        </form>
   </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}