@model Currency



<div class="modal fade" id="AddCurrencyModal" tabindex="-1" aria-labelledby="AddCurrencyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddCurrencyModal">اضافة عملة</h1>

            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <div class="mb-3">
                        <label asp-for="CurrencyName" class="form-label"></label>
                        <input type="text" asp-for="CurrencyName" class="form-control" />
                        <span asp-validation-for="CurrencyName" class="text-danger"></span>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn btn-dark">اضافة</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

